apiVersion: batch/v1
kind: Job
metadata:
  labels:
    {{- include "etcd.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "10"
    "helm.sh/hook-delete-policy": "hook-succeeded,before-hook-creation,hook-failed"
    ignore-check.kube-linter.io/no-read-only-root-fs: "etcd client requires write access for auth setup"
    ignore-check.kube-linter.io/non-existent-service-account: "ServiceAccount is created by this chart"
  name: "{{ .Release.Name }}-etcd-setup-2"
  namespace: {{ .Release.Namespace }}
spec:
  ttlSecondsAfterFinished: 300
  backoffLimit: 12
  template:
    metadata:
      name: "{{ .Release.Name }}"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "etcd.serviceAccountName" . }}
      restartPolicy: Never
      initContainers:
        - name: kubectl
          image: "{{ printf "%s:%s" .Values.jobs.kubectl.image (default (include "etcd.jobsTagKubeVersion" . | trim) .Values.jobs.kubectl.tag) }}"
          command:
          - sh
          - -c
          - kubectl --namespace={{ .Release.Namespace }} rollout status sts/{{ include "etcd.stsName" . }} --timeout=300s
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
          resources:
            {{- toYaml .Values.jobs.resources | nindent 12 }}
      containers:
        - command:
          - bash
          - -c
          - |-
            etcdctl member list -w table
            if etcdctl user get root &>/dev/null; then
              echo "User already exists, nothing to do"
            else
              etcdctl user add --no-password=true root &&
              etcdctl role add root &&
              etcdctl user grant-role root root &&
              etcdctl auth enable
            fi
          env:
            - name: ETCDCTL_ENDPOINTS
              value: https://{{ include "etcd.fullname" . }}-0.{{ include "etcd.serviceName" . }}.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:{{ .Values.clientPort }}
            - name: ETCDCTL_CACERT
              value: /opt/certs/ca/ca.crt
            - name: ETCDCTL_CERT
              value: /opt/certs/root-certs/tls.crt
            - name: ETCDCTL_KEY
              value: /opt/certs/root-certs/tls.key
          image: "{{ printf "%s:%s" .Values.jobs.etcd.image (default "latest" .Values.jobs.etcd.tag) }}"
          imagePullPolicy: {{ .Values.jobs.etcd.pullPolicy }}
          name: etcd-client
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
          resources:
            {{- toYaml .Values.jobs.resources | nindent 12 }}
          volumeMounts:
            - name: root-certs
              mountPath: /opt/certs/root-certs
            - name: ca
              mountPath: /opt/certs/ca
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      nodeSelector: {{- toYaml .Values.jobs.nodeSelector | nindent 8 }}
      {{- with .Values.jobs.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.jobs.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- if .Values.certManager.enabled }}
        - name: root-certs
          secret:
            secretName: {{ include "etcd.certManager.clientCert" . }}
        - name: ca
          secret:
            secretName: {{ include "etcd.certManager.serverCert" . }}
      {{- else }}
        - name: root-certs
          secret:
            secretName: {{ include "etcd.clientSecretName" . }}
        - name: ca
          secret:
            secretName: {{ include "etcd.caSecretName" . }}
      {{- end }}
