apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-pre-delete-etcd-wait"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "etcd.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": hook-succeeded,before-hook-creation
spec:
  ttlSecondsAfterFinished: 86400 # 24h
  template:
    metadata:
      name: "{{ .Release.Name }}-pre-delete-etcd-wait"
      namespace: {{ .Release.Namespace }}
      labels:
        {{- include "etcd.labels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: pause
          image: {{ .Values.jobs.kubectl.image }}:{{ .Values.jobs.kubectl.tag }}
          command: ["sh", "-c", "sleep 90"]
          resources:
            {{- toYaml .Values.jobs.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
            readOnlyRootFilesystem: true
